.machine-status-container {
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 50px;
    text-align: center;
    background-color: white;
    max-width: 245px;
    margin: 10px;
  }
  
  .machine-type {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .status-indicator {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border-radius: 12px;
    padding: 5px 10px;
    display: inline-block;
  }
  
.controls {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.count-button {
    background-color: #DCDCDC;
    font-size: 30px;
    width: 65px;
    text-align: center; 
}