.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 columns of equal width */
    gap: 10px; /* Adjust the space between the grid items */
    padding-left: 175px; 
    padding-right: 175px;
    padding-top: 30px;
    align-content: center;
  }
  